{% extends 'base.html' %}

{% block title %}Подтвердите удаление продукта{% endblock %}
{% block page_header %}Вы уверены, что хотите удалить продукт {{ basket.product.name }}?{% endblock page_header %}

{% block content%}
    <form action="{% url "basket_delete" basket.id %}" method="POST">
        {% include 'partial/form.html' with button_text="Да, я хочу удалить продукт с корзинки" %}
           <button> <a href="{% url "basket_list" %}">Отмена!</a> </button>
    </form>
{% endblock content %}