{% extends "base.html" %}
{% load static %}
{% block content %}

    <h1>Корзинка</h1>
    {% for basket in baskets %}
        <p><a href="{% url "product_view" basket.id %}"> Название: {{ basket.product.name }}</a>
        <button><a href="{% url "basket_delete" basket.id %}"><img src="{% static "img/del.png"%}"
                width="15" height="15" alt="basket" style="vertical-align: middle">  </a> </button>  &emsp;

            Стоимость: {{ basket.product.price }}&emsp;&emsp;
            Количество: {{ basket.amount }}&emsp;&emsp;
            Стоимость товара с количеством: {{ basket.get_total }}
        </p>
        <br/>

    {% endfor %}
        <p>Сумма всех {{ sum }} </p>


    {% if user.is_authenticated %}
         <form action="{% url "order_add" %}" method="post">
         <button type="button"> Оформить заказ!</button>
         </form>
    {% else %}
        <form action="{% url "order_add" %}" method="post">
        {% include "partial/form.html" with button_text="Оформить заказ" %}
    </form>
    {% endif %}
<br>
    <a href="{% url "product_add"  %}">Создать продукт</a>

{% endblock %}
