{% extends "base.html" %}
{% block content %}
<h1>Введите Задачу </h1>
<form action="{% url 'product_add' %}" method="post">
    {% csrf_token %}
    <label>Name:</label><br/>
    <textarea name="name"></textarea><br/>
    <label>Description:</label><br/>
    <textarea name="description"></textarea><br/>
    <label>Category:</label><br/>
    <select name="category" id="">
        {% for i in category %}
        <option>{{ i.0}}</option>
  {% endfor %}
    </select>
    <br/><br/>
     <label>Remainder:</label><br/>
    <textarea name="remainder"></textarea><br/>
      <label>Price:</label><br/>
    <textarea name="price"></textarea><br/>
<br/>
<br/>
    <a href="{% url "product_list" %}">Главная страница</a>
</form>
{% endblock %}

